In [7]:
import pandas as pd

In [29]:
coord_df = pd.read_csv('../../results/coordinates.csv', index_col=0)

In [39]:
filenames = [str(x)+'.jpg' for x in range(41,51)]
class_names = ['adult_females', 'adult_males', 'juveniles', 'pups', 'subadult_males']
chip_sizes = {
    'adult_females':80,
    'adult_males':120,
    'juveniles':60,
    'pups':40,
    'subadult_males':100
}

In [40]:
coord_df

,adult_females,adult_males,juveniles,pups,subadult_males
41.jpg,"[(2959, 2560), (3048, 2549), (2981, 2535), (30...","[(2749, 2516), (3110, 2349), (2293, 2315), (25...","[(2922, 2514), (3081, 2420), (3016, 2240), (29...","[(2977, 2575), (2833, 2530), (2913, 2520), (29...",[]
42.jpg,"[(3832, 1686), (4319, 1658), (4199, 1642), (43...","[(4940, 2506), (4974, 1929), (4816, 1883), (44...","[(4175, 546)]",[],"[(3618, 1715), (4011, 1641), (4337, 1605), (36..."
43.jpg,"[(3319, 3622), (3203, 3606), (3279, 3572), (31...","[(3365, 3405), (3295, 3267), (2636, 3115), (28...","[(3168, 3552), (3072, 3502), (3408, 3351), (34...","[(3268, 3585), (3029, 3513), (2964, 3468), (30...","[(2999, 3583), (3802, 3126), (1817, 2211), (27..."
44.jpg,"[(3302, 2213), (3256, 2171), (3427, 2165), (34...","[(3360, 2145), (3600, 1866), (3068, 1494)]","[(3273, 2242), (3273, 2221), (3326, 2206), (31...",[],"[(3375, 1740), (2950, 1240)]"
45.jpg,"[(2266, 2665), (2151, 2132), (2046, 2037), (20...","[(2633, 3200), (2108, 2048), (2546, 1423), (25...","[(2199, 1917), (1756, 1874), (1725, 1868), (20...",[],"[(1711, 1699), (1549, 1650), (2716, 1480), (16..."
46.jpg,[],"[(5418, 1338)]",[],[],"[(5372, 2086), (5600, 1485), (5569, 1432), (54..."
47.jpg,"[(3931, 3085), (3865, 3074), (4518, 3069), (41...","[(856, 3059), (3717, 3033), (2813, 2900), (372...","[(4594, 2981), (4586, 2719), (4115, 2539)]","[(3946, 3141), (3827, 3074), (3175, 3008), (43...","[(1598, 3141), (3628, 2918), (4888, 2857), (20..."
48.jpg,"[(3178, 2653), (3304, 2586), (3470, 2578), (32...","[(3360, 2397), (3760, 2267), (3434, 2052), (41...","[(904, 2995), (3602, 2535), (3531, 2495), (365...",[],"[(3539, 2607), (3702, 2407), (3726, 2169), (36..."
49.jpg,"[(736, 2202), (909, 2148), (1015, 2065), (642,...",[],"[(589, 2355), (437, 2346), (432, 2332), (416, ...",[],[]
50.jpg,[],"[(3683, 2306)]",[],[],[]

In [74]:
from pascal_voc_writer import Writer
import cv2
import matplotlib.pyplot as plt
from ast import literal_eval

In [57]:
image_path = r'../../data/TrainSmall2/Train/'

In [79]:
for ix, row in coord_df.iterrows():
    image = image_path + ix
    image_array = cv2.imread(image)
    annot_writer = Writer(image, image_array.shape[1], image_array.shape[0])
    for sl_type in class_names:
        for pair in literal_eval(row[sl_type]):
            #print(pair)
            center_y, center_x = pair[0], pair[1]
            x_min = int(center_x - chip_sizes[sl_type]/2)
            x_max = int(center_x + chip_sizes[sl_type]/2)
            y_min = int(center_y - chip_sizes[sl_type]/2)
            y_max = int(center_y + chip_sizes[sl_type]/2)
            annot_writer.addObject(sl_type, x_min, y_min, x_max, y_max)
            #testing_image = image_array[x_min:x_max, y_min:y_max]
            #plt.imshow(testing_image)
    annot_writer.save('./sea_lions/annots/'+ix.split('.')[0]+'.xml')
    #print(annot_writer)